@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(rgba(15, 76, 155, 0.801),rgba(19, 100, 146, 0.822));
}

#container{
    background-color: #dde2e7;
    border-radius: 18px;
    padding: 18px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
}

#search{
    display: flex;
    align-items: center;
    gap: 8px;
    border: 5px solid #535252;
    border-radius: 8px;
    padding: 4px 12px;
}

#search input{
    border: none;
    background-color: transparent;
    font-size: 16px;
    width: 100%;
}

#search input:focus-visible{
    outline: none;
}

#search button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#weather{
    margin-top: 20px;
    display: none;
}

#weather.show{
    display: block;
}

#weather #title{
    text-align: center;
    margin-bottom: 5px;
    font-weight: 600;
    color: #272429;
    
}

#temp{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    background: linear-gradient(90deg, #472aaf, #7270da);
    color: #fff;
    border-radius: 20px;
    padding: 20px;
    font-size: 30px;
    font-weight: bold;
}

#temp-img{
    filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.4));
}
#temp-value{
    font-weight: bold;
    font-size: 10px;
    line-height: 55px;
}

#temp-description{
    font-weight: 500;
    text-transform: capitalize;
}

#other-infos{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
}

#other-infos .infos{
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 4px 10px;
    border-radius: 8px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
    background-color: #fff;
    gap: 10px;
}

#other-infos .infos h2{
    font-size: 12px;
    font-weight: 600;
}
#other-infos .infos i{
    text-align: center;
    font-size: 20px;
    width: 20%;
}

#temp-max-icon{
    color: #7f1d1d;
}

#temp-min-icon{
    color: #0284c7;
}

#humidity-icon{
    color: #0e5e90;
}
#wind-icon{
color: #472aaf;
}